@page
@model BankStartWeb.Pages.AdminManager.UserListModel
@{
}

<div class="container mt-5 bg-white">
    <h1 class="py-3">System Users</h1>
    <table class="table">
        <div class="container2">
            <tr class="col-span-2">
                <th>Id</th>
                <th>Email Address</th>
                <th>UserName</th>
                <th>Roles</th>
                <th>Edit user</th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                        @foreach (var role in user.UserRoles)
                        {
                            @(role != user.UserRoles.First() ? ", " : " ")@role

                        }
                    </td>
                    <td>
                        <a asp-page="/AdminManager/EditUser" asp-route-userId="@user.Id">Edit</a>
                    </td>
                </tr>
            }
        </div>
    </table>
    <a class="btn btn-primary btn-round" asp-page="/AdminManager/CreateUser">Add new User</a>
</div>