@page
@model BankStartWeb.Pages.BankManager.TransactionsModel
@{
}

<<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <h4 style="color: #6610f2" class="card-title">Customers</h4>
                <div class="table-responsive">
                    <table class="table header-border table-hover table-hover verticle-middle">
                        <form method="GET">
                            <input asp-for="@Model.SearchWord"  />
                            <input style="color: #324cdd" type="submit" value="Search"/>
                        </form>
                        <thead>
                        <tr>
                            <th style="color: #ff5e5e">Id
                                <a asp-page="/BankManager/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="Id" asp-route-order="asc">
                                    <i class='bx bxs-up-arrow'></i> </a>
                                <a asp-page="/BankManager/Customers" asp-route-searchWord="@Model.SearchWord" asp-route-col="Id" asp-route-order="desc">
                                    <i class='bx bxs-down-arrow'></i> </a>
                            </th>
                            <th style="color: #324cdd">Type
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Type" asp-route-order="asc">
                                    <i class='bx bxs-up-arrow'></i> </a>
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Type" asp-route-order="desc">
                                    <i class='bx bxs-down-arrow'></i> </a>
                            </th >
                            <th style="color: #324cdd">Operation
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Operation" asp-route-order="asc">
                                    <i class='bx bxs-up-arrow'></i> </a>
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Operation" asp-route-order="desc">
                                    <i class='bx bxs-down-arrow'></i> </a>
                            </th >
                            <th style="color: #324cdd">Date
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Date" asp-route-order="asc">
                                    <i class='bx bxs-up-arrow'></i> </a>
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Date" asp-route-order="desc">
                                    <i class='bx bxs-down-arrow'></i> </a>
                            </th >
                            <th style="color: #324cdd">Amount
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Amount" asp-route-order="asc">
                                    <i class='bx bxs-up-arrow'></i> </a>
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="Amount" asp-route-order="desc">
                                    <i class='bx bxs-down-arrow'></i> </a>
                            </th >
                            <th style="color: #324cdd">New Balance
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="NewBalance" asp-route-order="asc">
                                    <i class='bx bxs-up-arrow'></i> </a>
                                <a asp-page="/BankManager/Transactions" asp-route-searchWord="@Model.SearchWord" asp-route-col="NewBalance" asp-route-order="desc">
                                    <i class='bx bxs-down-arrow'></i> </a>
                            </th >


                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var transaction in Model.Transactions)
                        {
                            <tr>
                                <td  class="table-active"><a asp-route-id="@transaction.Id" asp-page="/BankManager/TransactionInfo">@transaction.Id</a></td>
                                <td class="table-primary"><a asp-route-id="@transaction.Type" asp-page="/BankManager/AccountInfo">@transaction.Type</a></td>
                                <td class="table-success">@transaction.Operation</td>
                                <td class="table-info">@transaction.Date</td>
                                <td class="table-warning">@transaction.Amount</td>
                                <td class="table-danger">@transaction.NewBalance</td>
                            </tr>
                        }
                        </tbody>
                        <tr>
                            <td>
                                @if (Model.PageNum > 1)
                                {
                                    <a asp-page="/BankManager/Transactions" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-pagenum="@(Model.PageNum - 1)">
                                        <i class='bx bx-arrow-to-left btn-lg btn-facebook'></i>
                                    </a>
                                }
                            </td>
                            <td> Show site @Model.PageNum total of @Model.TotalPageCount</td>
                            <td>
                                @if (Model.PageNum < Model.TotalPageCount)
                                {
                                    <a asp-page="/BankManager/Transactions" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-pagenum="@(Model.PageNum + 1)">
                                        <i class='bx bx-arrow-to-right btn-lg btn-facebook'></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
