@page
@model BankStartWeb.Pages.BankManager.TransactionInfoModel
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2 style="color: #6f42c1">@Model.Id @Model.FirstName @Model.LastName</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table header-border table-hover verticle-middle">
                            <thead>
                            <tr>
                                <th>Account type</th>
                                <th>Balance</th>
                                <th>Created</th>
                                <th>Activity</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var detail in Model.TransactionInfo)
                                {
                                    <tr>
                                        <td style="color: #fd7e14">@detail.AccountType</td>
                                        <td style="color: #6fd96f">@detail.Balance $</td>
                                        <td style="color: #11cdef">@detail.Created</td>
                                        <td>
                                            <div class="progress" style="height: 10px">
                                                <div class="progress-bar gradient-8" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                </div>
                                            </div> 
                                        </td>
                                        <td><span class="label gradient-8 btn-rounded">70%</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>