@page
@model BankStartWeb.Pages.AccountManager.AccountInfoModel
@{
}

<h1>@Model.AccountType</h1>
<h1>@Model.Balance</h1>
<h1>@Model.Created</h1>

<table class="table header-border table-hover verticle-middle">
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>@transaction.Type</td>
                <td>@transaction.Operation</td>
                <td>@transaction.NewBalance</td>
                <td>@transaction.Date</td>
            </tr>
        }
    </tbody>
   
</table>